@font-face {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: normal;
    src: local('T-Star Pro Regular'), url('../fonts/TStarPro/TStarProRegular.woff') format('woff');
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RFDewi/RFDewi-Regular.eot');
    src: local('RF Dewi Regular'), local('RFDewi-Regular'),
        url('../fonts/RFDewi/RFDewi-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RFDewi/RFDewi-Regular.woff2') format('woff2'),
        url('../fonts/RFDewi/RFDewi-Regular.woff') format('woff'),
        url('../fonts/RFDewi/RFDewi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1400px;
    margin: 0 auto;

}

body{
    font-family: 'RF Dewi';
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header{
    position: absolute;
    color: #fff;
    width: 100%;
    font-family: 'T-Star Pro';
    font-size: 18px;
    line-height: 24px;
}

.carousel_section{
    overflow: hidden;
}

.slider_carousel {
    width: 100%;
    height: 100%;
    margin-top: 125px;
    position: relative;
  }

  .swiper-slide img {
    display: block;
  }

.slider_parteners{
    width: 100%;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    margin-left: 50px;
}

.header_tools{
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: inherit;
}

.logo1{
    width: 100px;
}

.topmenu{
    display: inline-flex;
}

.topmenu li{
    padding-right:30px;
    text-transform: uppercase;
}

.topmenu li:last-of-type{
    padding: 0;
}

.header_tools{
    display: inline-flex;
}

.lang{
    width: 140px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(217, 219, 221, 0.4);
    border-radius: 100px;   
}

.ul-lang{
    padding-left: 9.5px;
    background-color: transparent;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    border: 0;
}

.arrow{
    padding-left: 12px;
}

.arrow-vertical{
    rotate: -90deg;
    height: 10px;
    padding-right: 2px;
}

.nav_btn{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


footer{
    background: #222327;
}

.footer_line{
    margin-bottom: 45px;
}

.footer_info{
    margin-bottom: 45px;
}

.footer_link h3{
    padding-bottom: 25px;
}

.footer_link li:last-of-type{
    padding: 0;
}

.footer_top{
    display: inline-grid;
    justify-content: space-around;
    color: #fff;
    padding-bottom: 95px;
    padding-top: 95px;
}

.row{
    display: grid;
}

.subscribe{
    padding: 12px 0px 12px 18px;
    background: #38393C;
    border-radius: 5px;
    border: 0;
    width: 100%;
}

input::placeholder{
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.6;
}

.subscribe_arrow{
    position: relative;
    right: 50px;
}

.footer_contact-1{
    font-family: 'RF Dewi';
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 10px;
    margin-top: 60px;
}

.col-4 li{
    padding: 0 0 12px 0;
    opacity: 0.6;
}

.col-4{
    display: grid;
}

.item-1{
    grid-column: 1 / 4;
}
.item-2{
    grid-column: 4 / 7;
}
.item-3{
    grid-column: 7 / 10;
}
.item-4{
    grid-column: 10 / 13;
}
.item-4 li{
    opacity: 1;
}
.item-5{
    grid-column: 1 / 13;
    justify-content: space-between;
}
.item-6 a{
    opacity: 0.8;
}

.item-6{
    grid-column: 1 / 13;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255);
    opacity: 0.6;
}

h3{
    font-family: 'RF Dewi';
    font-size: 18px;
}

.footer_politica{
    display: flex;
}

.footer_politica-item-2{
    padding-left: 45px;
}

.topmenu a{
    display: inline-flex;
}

.footer_news h3{
    padding-bottom: 25px;
}

.footer_news-element{
    display: flex;
}

.footer_contact li{
    padding-bottom: 32px;
}

.footer_contact li:last-of-type{
    padding: 0;
}

.top_section{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.top_container{
    padding-top: 280px;
    padding-bottom: 280px;
    width: 700px;
}

.top_title{
    font-size: 44px;
    line-height: 80px;
    margin-bottom: 25px; 
}

.top_subtitle{
    width: 480px;  
    line-height: 28px;
    margin-bottom: 30px;
}

.info_btn{
    width: 170px;
    height: 48px;
    background: #B2071E;
    border-radius: 5px;
    border: none;
    color: #fff;
}

.info_block-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.carousel_info_block{
    margin-top: 95px;
    margin-bottom: 125px;
}

.carousel_btn{
    display: flex;
    justify-content: end;
    align-items: center;
}

.info_block-text h2{
    font-size: 36px;
    line-height: 44px;
    color: inherit;
    margin: 0;
    width: 875px;
    grid-row: 2 / 3;
}

.info_block-text p{
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #B2071E;
    grid-column: 1 / 2;
    margin-top: 0px;
    margin-bottom: 18px;
}

.slide_img-brand{
    margin-bottom: 32px;
}

.slide_text{
    color: #2E3033;
    width: 450px;
}

.slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slide_text h3{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 35px;
}

.carousel_layel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 125px;
}

.slide_text p{
    line-height: 28px;
    margin: 0px;
}

.p{
    padding-bottom: 35px;
}

.slide_text a{
    color: #B2071E;
    font-family: 'T-Star Pro';
    font-weight: 700;
    display: flex;
    gap: 10px;
}

.slide_arrow-next{
    rotate: 180deg;
}

.service_section{
    background-color: #F1F2F3;
}

.info_block-p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #2E3033;
    grid-column: 1 / -1;
}

.info_block-text h4{
    width: 440px;
    font-size: 18px;
    line-height: 28px;
    color: #2E3033;
    font-weight: 400;
    grid-column: 1 / -1;
    margin-bottom: 35px;
    margin-top: 0px;
}

.service_btn{
    display: flex;
    justify-content: start;
}

.card{
    background: #38393C;
    border-radius: 20px;
    width: 590px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 48px;
}

.card_img-ico{
    margin-bottom: 35px;
}

.card_text h2{
    margin-bottom: 35px;
    margin-top: 0px;
}

.card_text p{
    line-height: 28px;
    width: 594px;
    margin: 0px;
    margin-bottom: 35px;
}

.carousel_btn-1{
    grid-column: 2/3;
    grid-row: 2/3;
}

.service_text h2{
    margin-bottom: 35px;
    display: inline-flex;
}

.cards{
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
}

.service_info_block{
    display: inline-flex;
}

.service_info_block-text h4{
    width: 440px;
    font-size: 18px;
    line-height: 28px;
    color: #2E3033;
    font-weight: 400;
    margin-bottom: 35px;
    margin-top: 0px;
}

.service_info_block-text h2{
    font-size: 36px;
    line-height: 44px;
    color: #2E3033;
    margin: 0;
    width: 570px;
    margin-bottom: 35px;
}

.service_info_block-text p{
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #B2071E;
    margin-top: 0px;
    margin-bottom: 18px;
}

.service_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 125px;
    padding-bottom: 125px;
}

.card_img-1{
    background-image: url("../images/card_img-1.jpg");
}

.card_img-2{
    background-image: url("../images/card_img-2.jpg");
}

.proiecte_line-span{
    width: 100%;
    background-color: #D9DBDD;
    height: 1px;
    margin-bottom: 35px;
    grid-column: 1/-1;
    grid-row: 3/4;
}

.proiecte_line{
    grid-column: 1/-1;
    grid-row: 3/4;
    display: inherit;
}

.proiecte_btn{
    grid-row: 4 / 5;
}

.proiecte-text-2{
    display: flex;
    gap: 25px;
    grid-row: 4/5;
    align-items: end;
}

.proiecte-text-1 h2{
    margin-bottom: 50px;
}

.market{
    display: flex;
}

.market_text{
    display: flex;
    position: absolute;
    align-self: end;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.market_text p{
    width: 600px;
}

.proiecte_market{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.about_section{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/about-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.about_container{
    padding-top: 200px;
    padding-bottom: 200px;
}

.about_block-text{
    color: #fff;
    margin-bottom: 0px;
}

.about_text-1 h2{
    margin-bottom: 0px;
}

.colortext{
    color: #B2071E;
}

.column_item{
    color: #fff;
    margin-top: 95px;
}

.about_info_block{
    margin: 0;
}

.about_column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.column_item h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}

.column_item p{
    line-height: 28px;
    opacity: 0.8;
    width: 400px;
}

.column_item hr{
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 1px;
    border: 0;
    margin-bottom: 30px;
}

.blog_section{
    background: #F7F8FA;
}

.blog_info_block{
    margin: 0;
}

.blog_container{
    padding-top: 95px;
    padding-bottom: 105px;
}

.blog_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.blog_card-text p{
    color: rgba(46, 48, 51, 0.8);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 18px;
    margin-top: 0px;
}

.blog_card-text a p{
    color: inherit;
    margin-bottom: 0px;
}

.blog_card-text h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2E3033;
    margin-bottom: 35px;
    margin-top: 0px;
}

.blog_card-img{
    margin-bottom: 48px;
}

.blog_card-img img{
    width: 100%;
}

.blog_card-text a{
    color: #B2071E;
    font-family: 'T-Star Pro';
    font-weight: 700;
    display: flex;
    gap: 10px;
}


.blog_block-text{
    margin-bottom: 75px;
}

.blog_line {
    width: 1px;
    height: 490px;
    background: #D9DBDD;
}

.blog{
    background: #F7F8FA;
}

.parteners_container{
    overflow: hidden;
}

.parteners_logo{
    display: flex;
    justify-content: space-between;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    position: relative;
}

.swiper-wrapper{
    align-items: center;
}

.contact_section{
    background: url(../images/contact_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 130px;
    padding-bottom: 140px;
}

.contact_items{
    display: flex;
    justify-content: space-around;
}

.contact_text h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    width: 570px;
    margin-bottom: 30px;
}

.contact_text p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 450px;
    margin-bottom: 65px;
}

.contact_text-1{
    display: flex;
    align-items: center;
}

.contact_text-1 img{
    margin-right: 15px;
}

.contact_text-1 p{
    width: 330px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
}

.contact_form p{
    font-size: 18px;
    line-height: 28px;
}

.contact_form input{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    border: 0;
    width: 570px;
    height: 64px;
    padding-left: 20px;
}

.form_btn{
    margin-top: 30px;
}
